.numeric-button {
    cursor: pointer;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    margin: 6px;
    width: 52px;
    height: 52px;
    padding: 0;
    font-size: 1rem;
    border-radius: .25rem; 
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #0d6efd;
    border-color: #0d6efd;
}

.numeric-button:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.operation-button {
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    margin: 6px;
    width: 52px;
    height: 52px;
    padding: 0;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}
.operation-button:hover {
    color: #0d6efd;
    background-color: #fff;
    border-color: #0d6efd;
}