h1 {
	margin: 1em 0 0.5em 0;
	font-weight: 100;
	color: #0d6efd;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 58px;
	line-height: 54px;
}

.display {
    width: 100%;
    height: 60px;
    margin-bottom: 12px;
    padding: 0.375rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #0d6efd;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.numeric-button {
    cursor: pointer;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    margin: 6px;
    width: 52px;
    height: 52px;
    padding: 0;
    font-size: 1rem;
    border-radius: .25rem; 
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #0d6efd;
    border-color: #0d6efd;
}

.numeric-button:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.operation-button {
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    margin: 6px;
    width: 52px;
    height: 52px;
    padding: 0;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}
.operation-button:hover {
    color: #0d6efd;
    background-color: #fff;
    border-color: #0d6efd;
}